@charset "utf-8";

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 100%; /* フル幅にする */
  }
}

.delete-task-button,
.edit-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;

  @media (max-width: 768px) {
    width: 100%; /* フル幅にする */
    margin: 15px 0; /* 余白を調整 */
  }
}

.edit-task-button {
  background-color: #242f9b;
  border-color: #242f9b;
  color: #ffffff;
}

.error-message {
  color: #ff3333;
}
