@charset "utf-8";

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 100%; /* タイトルの幅をフルにする */
  }
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
