@charset "utf-8";

.new-task-form {
  color: #555555;
}

.form-item {
  width: 300px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 100%; /* フォームアイテムの幅をフルにする */
  }
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
