@charset "utf-8";

.header {
  width: 100%;
  background-color: #242f9b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 0 auto auto;
}
